<% include parts/header %>

<!-- Starting movie showcase -->
<div class="container col-md-4 col-md-offset-4">
   <div class="loginForm">
			<div class="modal-header">
				<h4 class="modal-title" align="center"><b><font color="#b3b6b7">Member Register</font></b></h4>
			</div>
			<div class="modal-body">
				<form action="/signup" method="post">
					<div class="input-group">
				        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				            <input type="text" class="form-control" name="fullname" id="qname" onblur="namevalidation(qname)" placeholder="Enter your Name"/>
				    </div>
            <p id="ewname"></p>
                    <div class="input-group">
				        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				            <input type="email" class="form-control" name="email" id="email" onblur="emailvalidation(email)" placeholder="Enter your Email"/>
				    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="pwd" onblur="pwdvalidation(pwd)" placeholder="Enter your Password"/>
					</div>
                  


					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block btn-lg" value="Register Now">
					</div>

                    <div class="form-group" id="loginFormText">
						<p> <font color="#b3b6b7">Already a member?</font> <b><a href="/login">Login Now</a></b></p>
					</div>
				</form>

			</div>
		</div>
</div>
 <!-- Ending movie Showcase
    ================================================== -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/signup.js"></script>
    <script src="js/login.js"></script>
    <% include parts/footer %>
