
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
 <style>
     #myBtnContainer{
         text-align: center;
     }
     #moviedetails{
         text-align: center;
         color: #333;
     }
     #moviepanel{
         background-color: #fff ;
     }

     body{
         background-color: #fff;
         background-image: url(bg.jpg)!important;
     }


     /* Create three equal columns that floats next to each other */
.column {
    width: 100%;
    float: left;
    display: none;
   /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
    background-color: #39529c;;
  display: inline;
    /*padding: .2em .6em .3em; */
    font-size: 100%;
    font-weight: 1000;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
 </style>
 <style>

      body{
          background-color: #fff;
          background-image: url(bg.jpg)!important;
      }
      .panel-default{
        border: 1px solid rgba(0,0,0,.1);
         background-color: rgba(0,0,0,0.5);
      }
     msg{
         padding: 25px 50px;
     }
  </style>
  <style>
      .loginForm{
          border: 1px solid rgba(0,0,0,1);
          margin-top: 60px;
          background-color: rgba(0,0,0,0.5);
      }
      #loginFormText{
          text-align: center;
      }
     .fb {
         background-color: #3B5998;
         color: white;
         text-decoration: none;
         text-align: center;
      }
      .fb:hover {
          background-color: white;
          color: #3B5998;
      }
      .google {
         background-color: #dd4b39;
         color: white;
         text-decoration: none;
         text-align: center;
      }
      .google:hover{
          background-color: white;
          color: #dd4b39;
          border: #dd4b39;
      }
      .input-group{
          margin-bottom: 10px;
      }

      body{
          background-color: #fff;
          background-image: url(bg.jpg)!important;
      }
  </style>
  <style>
      .loginForm{
          border: 1px solid rgba(0,0,0,.1);
          margin-top: 60px;
           background-color: rgba(0,0,0,0.5);
      }
      #loginFormText{
          text-align: center;
      }
      .input-group{
          margin-bottom: 10px;
      }
      body{
          background-color: #fff;
          background-image: url(bg.jpg)!important;
      }
  </style>

 </head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="background-color:#4b4950"><span class="glyphicon glyphicon-film"></span> Show Trackr</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"> <span class="	glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/add">Add</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(user) { %>
        <li><a><span class="glyphicon glyphicon-user"></span> <%= user.local.email || user.facebook.id || user.google.id %></a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      <%} else { %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% }%>

    </ul>
  </div>
</nav>
